/* Style the header with a grey background and some padding */
html {
  height: 100%;
  --main-color: #7c1cd4;
  --highlight-color: #00fff7;
  --highlight-color-two: #ee00ff;
  --mobile-development-color: var(--highlight-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: white;
  background-image: linear-gradient(-180deg, #e605ff 0%, #9d1dcb 30%, #321575 100%);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Cairo";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0000001f;
  max-height: 7em;
}

.header-item {
  display: flex;
  align-items: center;
}

.menu-item {
  padding: 15px;
  text-decoration: none;
  color: white;
  transition: background-color 0.2s ease;
}

.menu-item:not(:nth-child(0)) {
  border-right: 1px solid;
  border-color: white;
}

.menu-item:hover>i {
  animation: beat 0.3s forwards;
}

@keyframes beat {

  0%,
  66% {
    transform: scale(0.8);
  }

  33%,
  100% {
    transform: scale(1.2);
    color: var(--highlight-color-two);
  }
}

.logo-container {
  background-image: url(assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 15em;
  height: 10em;
}

.logo-new {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
}

.logo-symbol {
  width: 10em;
}

.logo-text {
  font-size: 24px;
  /* Adjust font size as needed */
  font-weight: bold;
  color: #333;
  /* Replace with your desired text color */
}

.logo {
  height: 5em;
  width: 5em;
}

.logo-title {
  font-size: 24px;
  margin: 10px;
}

.large-text {
  font-size: 2em;
}

.side-margin {
  padding: 0 10% 0 10%;
}

.bottom-space {
  padding-bottom: 5%;
}

.darkened {
  filter: brightness(0.75);
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: var(--highlight-color-two);
}

.full-margin {
  padding: 10%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3em;
}

.item {
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: var(--spacing-l);
  transition: background-color 0.5s ease;
}

.item:hover {
  transition: 0.5s;
  background-color: rgba(15, 15, 15, 0.75);
}

.item i {
  margin-right: 0.5em;
}

.item h3 {
  margin-top: 10px;
}

.item p {
  margin-top: 5px;
}

.justify-center {
  justify-self: center;
}

.content-column-1 {
  grid-column: 1 2;
}

.animated-title {
  display: flex;
}

.remove {
  animation: cyber-ethics 8s infinite 2s both;
}

h1,
h2 {
  font-size: 250%;
  padding: 1em 0 0 0;
  margin-top: 0;
}

h3,
h4 {
  font-size: 150%;
}

h5,
h6 {
  font-size: 120%;
}

@keyframes cyber-ethics {
  0% {
    width: 1.25em;
  }

  11%,
  33% {
    opacity: 1;
  }

  22% {
    width: 1px;
  }

  44%,
  100% {
    width: 1.25em;
    opacity: 1;
  }
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .full-margin {
    padding: 0 4% 0 4%;
  }

  .menu-item {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}

/** Services Page Carousel */
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px;
  /* Adjust the height as needed */
}

.slide {
  flex: 0 0 100%;
  opacity: 1;
  transition: opacity 2.5s;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
  transition: filter 0.2s;
}

.slide.active img {
  filter: blur(0);
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: inherit;
  width: 200px;
  opacity: 0.5;
  color: #fff;
}

.slide h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.slide p {
  font-size: 16px;
}

@keyframes slideAnimation {

  0%,
  20%,
  100% {
    transform: translateX(0);
    opacity: 1;
  }

  25%,
  45%,
  75% {
    transform: translateX(-20%);
    filter: blur(2px);
  }
}

.carousel {
  animation: slideAnimation 10s infinite;
}

/** Process Container */

.process-container-new {
  display: grid;
  grid-template-columns: 8vw 12vw 8vw 12vw 8vw;
  grid-template-rows: repeat(3, 120px);
  align-items: center;
  column-gap: 2em;
  width: 70%;
  /* animation: merge 5s 10s; */
}

.arrow-column {
  display: grid;
  grid-template-columns: 10vw 4vw;
  align-items: center;
  grid-template-rows: 1fr 2fr;
}

.document-row {
  grid-column: 1 / 3;
}

.document-list {
  opacity: 0;
  animation: assigningDocument 3s ease-in-out forwards;
}

.document-checked {
  position: relative;
  opacity: 0;
  left: 14vw;
  animation: checkingDocument 5s ease-in-out forwards;
}

@keyframes checkingDocument {
  0% {
    opacity: 1;
    transform: scale(1.0)
  }

  5% {
    opacity: 1;
    color: green;
    transform: scale(1.0) translateX(0vw);
  }

  10% {
    opacity: 1;
    color: white;
    transform: scale(1.0) translateX(0vw);
  }

  15% {
    opacity: 1;
    color: green;
    transform: scale(1.0) translateX(0vw);
  }

  20% {
    opacity: 1;
    color: white;
    transform: scale(1.0) translateX(0vw);
  }

  90% {
    opacity: 1;
    transform: translateX(-15vw);
  }

  100% {
    transform: translateX(-15vw);
    opacity: 0;
  }
}

.process-container {
  display: grid;
  grid-template-columns: 4fr 4fr auto 1fr;
  grid-template-rows: repeat(3, 60px);
  column-gap: 2em;
  align-items: center;
  width: 70%;
}

.process-container-actor {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: end;
  justify-items: center;
  opacity: 0;
  animation: fade-in 1s ease-in-out forwards;
}

.arrow {
  border: solid white;
  border-width: 0 0.4em 0.4em 0;
  display: inline-block;
  padding: 6px;
  width: 12px;
  height: 12px;
  opacity: 0;
  animation: fade-in-out 3s ease-in-out none;
}

.arrow-line {
  border: solid white;
  border-width: 0.15em;
  opacity: 0;
  animation: emergingArrow 2s ease-in-out forwards;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

@keyframes emergingArrow {

  0%,
  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes assigningDocument {
  0% {
    opacity: 0;
    transform: translateX(0vw);
  }

  20% {
    opacity: 1;
  }

  80% {
    opacity: 1;
    transform: translateX(15vw);
  }

  100% {
    opacity: 0;
    transform: translateX(15vw);
  }
}

.text-container {
  position: relative;
  height: 10vh;
}

.process-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-duration: 8s;
  animation-fill-mode: forwards;
  animation-name: fade-in-out;
}

.part1 {
  animation-delay: 0s;
}

.part1_2 {
  animation-delay: 4s;
}

.part2 {
  animation-delay: 8s;
  /* animation-delay: 0s; */
}

.part2_2 {
  animation-delay: 12s;
  /* animation-delay: 0s; */
}

.part3 {
  animation-delay: 17s;
  /* animation-delay: 0s; */
}

.part4 {
  animation-delay: 25s;
  /* animation-delay: 0s; */
}

.part5 {
  animation-delay: 33s;
  /* animation-delay: 0s; */
}

.part6 {
  animation-delay: 41s;
  /* animation-delay: 0s; */
}

.part7 {
  animation-delay: 49s;
  /* animation-delay: 0s; */
}

.part8 {
  animation-delay: 56s;
  /* animation-delay: 0s; */
}

.role-icon {
  grid-column: 2 / 3;
}

.role-title {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  inline-size: max-content;
}

.role1 {
  opacity: 0;
  animation: highlight-role 3s ease-in-out 24s backwards;
}

.role2 {
  opacity: 0;
  animation: highlight-role 3s ease-in-out 27s;
}

.role3 {
  opacity: 0;
  animation: highlight-role 3s ease-in-out 30s forwards;
}

.ongoing {
  opacity: 0;
  justify-self: end;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  animation-name: fully-rotate;
  animation-duration: 8s;
  animation-timing-function: ease-in;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes fully-rotate {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }

  90% {
    opacity: 1;
    color: greenyellow;
    transform: rotate(2880deg) scale(1.0);
  }

  100% {
    opacity: 0;
    transform: rotate(2880deg) scale(0);
  }
}

@keyframes highlight-role {
  0% {
    opacity: 0;
    color: white;
  }

  10% {
    opacity: 1;
    color: red;
  }

  15% {
    opacity: 1;
    color: white;
  }

  20% {
    opacity: 1;
    color: red;
  }

  25% {
    opacity: 1;
    color: white;
  }

  90%,
  100% {
    opacity: 1;
    color: white;
  }
}

@keyframes fade-in-out {

  0%,
  100% {
    opacity: 0;
  }

  30%,
  70% {
    opacity: 1;
  }
}

.fade-in-short-short-delay {
  animation: fade-in 1s normal 0.7s both;
}

@keyframes fade-in {
  from {
    transform: translateX(-3%);
    opacity: 0;
  }

  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes merge {
  from {
    transform: rotate(0deg) scale(1.0);
  }

  to {
    transform: rotate(-720deg) scale(0);
  }
}

.full-grid-width {
  grid-column: 1 / -1;
}

.mobile-development-detail-group {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, minmax(min(300px, 100%), 1fr));
}

.mobile-development-detail-single:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.mobile-development-detail-single:not(:hover) {
  transform: scale(1.00);
  transition: 0.5s;
}

.mobile-development-detail-single:hover>.mobile-development-detail-group {
  opacity: 0.5;
}

.mobile-development-detail-single:hover>.image-title>i,
.mobile-development-detail-single:hover>.image-title,
.mobile-development-detail-single:hover>.image-title>h3 {
  color: var(--mobile-development-color);
  transform: scale(1.07);
  transition: 0.5s;
}

.mobile-development-detail-single:hover>.image-title>i {
  color: var(--mobile-development-color);
  transform: scale(1.07) rotateX(360deg);
  transition: 0.5s;
}

.mobile-development-detail-single:hover>.mobile-development-platform-group>.vertical-divider {
  transform: rotateY(360deg);
  transition: 1.0s;
}

.item:hover>i {
  color: rgb(255, 7, 226);
  transform: rotateX(360deg);
  transition: 0.5s;
}

.item:hover>h3 {
  color: rgb(255, 7, 226);
  transition: 0.5s;
}

.mobile-development-detail-single:not(:hover)>.image-title>i,
.mobile-development-detail-single:hover>.image-title,
.mobile-development-detail-single:not(:hover)>.image-title>h3 {
  color: white;
  transform: scale(1.00);
  transition: 0.5s;
}

.mobile-development-detail-single:hover>p>span {
  color: var(--mobile-development-color);
  transition: 0.5s;
}

.mobile-development-detail-single:not(:hover)>p>span {
  color: white;
  transition: 0.5s;
}

.image-title {
  display: inline-flex;
  align-items: baseline;
}

.web-development-experience {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 1fr;
  gap: 0.5em;
}

.web-development-experience-number {
  font-size: 5em;
}

.web-development-experience-description {
  font-size: x-large;
  max-width: 70%;
}

.mobile-development-platform-group {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 3fr;
  grid-template-columns: 30fr 30fr 50fr 30fr 30fr;
  gap: 1em;
}

.mobile-development-platform-group-item-stretched {
  grid-column: span 2;
}

.awesome::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 0.5em;
}

.pros {
  justify-self: end;
}

.pro::before {
  color: var(--highlight-color);
  content: "\f0fe";
}

.cons {
  justify-self: center;
}

.con::before {
  color: violet;
  content: "\f146";
}

.center {
  align-self: center;
  justify-self: center;
}

.center-text {
  text-align: center;
  text-wrap: balance;
}

.subtitle {
  color: var(--highlight-color);
  opacity: 0.7;
  padding-left: 0.5em;
}

.vertical-divider {
  grid-area: 1 / 3 / -1 / 4;
  max-width: 100%;
}

#mobile-development-platform-expertise {
  grid-column: 1 / 3;
}

.container {
  height: 600px;
  width: 100%;
  top: 60px;
  display: flex;
}

/* .card {
  display: flex;
  height: 480px;
  width: 500px;
  background-color: #17141d;
  border-radius: var(--spacing-l);
  box-shadow: -1em 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover~.card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
} */

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

/* #mobile-development-ui-ux-design {
  --mobile-development-color: rgb(245, 74, 176);
}

#mobile-development-app-security {
  --mobile-development-color: rgb(209, 110, 255);
}

#mobile-development-performance-optimization {
  --mobile-development-color: rgb(251, 159, 47);
}

#mobile-development-platform-expertise {
  --mobile-development-color: rgb(244, 10, 112);
} */

#rain-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Place canvas behind other content */
}

#canvas-planet-container {
  background-color: #000000;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2, 1fr);
  max-height: 80%;
}

.canvas-text {
  font-family: "Cairo";
  text-wrap: balance;
}

.canvas-text:first-child {
  grid-area: 1 / 1 / 2 / 2;
  align-self: self-end;
  justify-self: end;
  color: #d475ff;
  font-size: 4.2em;
  margin-bottom: 0;
}

.canvas-text:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
  word-break: break-word;
  font-size: 3.5em;
  text-wrap: balance;
  color: #a047e0;
}

#canvas-planet-container canvas {
  max-width: 100%;
  max-height: 60vh;
  object-fit: cover;
  grid-area: 1 / 2 / 3 / 3;
}

.canvas-logo {
  grid-area: 1 / 1 / 1 / 2;
  background-image: url(assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  animation-name: fade-in;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.limit-width {
  max-width: 100%;
}

.background-dark {
  background-color: black;
}

li::marker {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--highlight-color-two);
  padding: 3em;
}

li {
  padding-left: 0.5em;
}

.unsdg-container {
  grid-template: 1fr / 3fr 4fr;
  align-items: center;
}

p,
li {
  font-size: larger;
}

.cyber-ethical-solutions {
  display: grid;
  grid-template: 5fr 1fr / 1fr 50fr 50fr 1fr;
  gap: 1em;
  height: 50vh;
}

.cyber-ethical-solutions.continued {
  grid-template: 5fr 1fr / 100fr 1fr 1fr 100fr;
  gap: 0;
  justify-items: center;
  transition: all 3s;
}

.cyber-ethical-solutions-item-container {
  display: grid;
  grid-template: 100% / 100%;
  width: 100%;
}

.cyber-ethical-solutions-item-container:nth-child(1) {
  grid-column: 2 / 3;
}

.cyber-ethical-solutions-item-container:nth-child(2) {
  grid-column: 3 / 4;
}

.cyber-ethical-solutions-item-title {
  font-size: 4em;
  justify-self: center;
}

.cyber-ethical-solutions-item-title.continued {
  font-family: 'Solaris';
  transition: font 1.5s ease-in-out;
}

.cyber-ethical-solutions-item-container.continued {
  width: max-content;
}

.cyber-ethical-solutions-item-long.continued {
  display: none;
}

.cyber-ethical-solutions:hover>* span {
  color: var(--highlight-color-two);
}

.cyber-ethical-solutions-item:hover>.line-through {
  text-decoration: line-through;
  text-decoration-color: var(--highlight-color);
}

.cyber-ethical-solutions-item {
  grid-area: 1 / 1 / 2 / 2;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 20px;
  border-radius: var(--spacing-l);
  transition: background-color 0.5s ease;
}

.cyber-ethical-solutions-item-short {
  display: grid;
  grid-template: 33% 67% / 100%;
  justify-items: center;
  align-items: center;
}

.cyber-ethical-solutions-item-short>i {
  grid-area: 2 / 1 / 3 / 1;
  font-size: 7em;
  color: #c7c7c7;
}

.cyber-ethical-solutions-item-short.continued>i {
  display: none;
}

.cyber-ethical-solutions-item-long {
  transform: rotateY(90deg);
}

.cyber-ethical-solutions-item-container:hover:not(.continued) .cyber-ethical-solutions-item-long {
  visibility: none;
  transform: rotateY(0deg);
  transition: 0.3s 0.3s;
}

.cyber-ethical-solutions-item-container:hover:not(.continued) .cyber-ethical-solutions-item-short {
  transform: rotateY(90deg);
  transition: 0.3s;
}

.cyber-ethical-solutions-item-container:not(:hover):not(.continued) .cyber-ethical-solutions-item-long {
  visibility: none;
  transform: rotateY(90deg);
  transition: 0.3s;
}

.cyber-ethical-solutions-item-container:not(:hover):not(.continued) .cyber-ethical-solutions-item-short {
  transform: rotateY(0deg);
  transition: 0.3s 0.3s;
}

/* .cyberethics {
  display: grid;
  grid-template: 5em / 5em 5em;
  font-size: 2.5em;
}

.cyb {
  grid-area: 1 / 1 / 1 / 2;
  animation: fade-in-out 6s infinite both alternate;
}

.cyber {
  grid-area: 1 / 1 / 1 / 2;
  animation: fade-in-out 6s infinite both alternate-reverse;
  padding-right: 1em;
}

.ethics {
  grid-area: 1 / 2 / 1 / 3;
  animation: ethics 3s infinite both alternate-reverse;
}

.solutions {

} */

@keyframes ethics {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-1.82em);
  }
}

.priority-goals-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, minmax(100px, 300px));
  row-gap: 7em;
  background-image: url(assets/wwwhirl.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 60%;
}

.priority-goals-container-item {
  display: grid;
  grid-template: 1fr 3fr / 1fr 2fr;
  background-color: rgb(34 34 34 / 90%);
}

.priority-goals-container-logo-container {
  grid-area: 1 / 1 / 3 / 2;
  background: radial-gradient(circle at 10%, var(--priority-goal-color) 80%, transparent 80.25%);
}

.priority-goals-container-logo {
  grid-row: span 2;
  width: 10vw;
  place-self: center center;
  /* max-width: 100%; */
}

.priority-goals-container-item-text {
  grid-area: 2 / 2 / 3 / 3;
}

.priority-goals-container-item-title {
  grid-area: 1 / -2 / 2 / -1;
  font-size: xx-large;
  line-break: 1.4px;
}

#priority-goals-container-item-first {
  grid-area: 1 / 1 / 2 / 2;
  --priority-goal-color: #00a947;
}

#priority-goals-container-item-second {
  grid-area: 2 / 2 / 3 / 3;
  --priority-goal-color: #9f0041;
}

#priority-goals-container-item-third {
  grid-area: 3 / 1 / 4 / 2;
  --priority-goal-color: #fb7313;
}

#priority-goals-container-item-fourth {
  grid-area: 4 / 2 / 4 / 3;
  --priority-goal-color: orange;
}

#priority-goals-container-item-fifth {
  grid-area: 5 / 1 / 6 / 2;
  --priority-goal-color: yellow;
}

.options {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 50vh;
  transition: 1.25s;
  align-items: stretch;
}

@media screen and (max-width: 718px) {
  .options {
    min-width: 520px;
  }

  .options .option:nth-child(5) {
    display: none;
  }
}

@media screen and (max-width: 638px) {
  .options {
    min-width: 440px;
  }

  .options .option:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 558px) {
  .options {
    min-width: 360px;
  }

  .options .option:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 478px) {
  .options {
    min-width: 280px;
  }

  .options .option:nth-child(2) {
    display: none;
  }
}

.options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  cursor: pointer;
  transition: 1.0s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option.active {
  transition: 1s;
  border-radius: 40px;
}

.option:not(.active) li {
  width: max-content;
}

.option:not(.active) .priority-goals-container-logo {
  opacity: 0;
}

.options .option.active .label {
  bottom: 20px;
  left: 20px;
}

.options .option.active .label .info>div {
  left: 0px;
  opacity: 1;
}

.options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
  max-width: 0px;
}

.options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}

.options .option:not(.active) .label .info>div {
  left: 20px;
  opacity: 0;
}

.options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
}

.options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

.options .option .label .info>div {
  position: relative;
  transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity 0.5s ease-out;
}

.options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}

.options .option .label .info .sub {
  transition-delay: 0.1s;
}

/* Test */
* {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  width: 100%;
}

@media(min-width: 540px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(min-width: 960px) {
  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card {
  /* display: grid; */
  /* grid-template-rows: min-content min-content; */
  background-color: #2d3548;
  border-radius: 1em;
  height: 100%;
  width: 100%;
  /* position: relative; */
}

.card:before {
  content: '';
  display: block;
  width: 100%;
}

.card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
}

.card-header {
  grid-row: 1 / 2;
  background-color: black;
  padding: 1.5em;
}

.card-content {
  grid-row: 2 / 3;
  padding: 1.5em;
}

/* Attempt with ball */
.unsdg-container-new {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-auto-columns: repeat(3, max-content);
  /* grid-auto-rows: minmax(100px, max-content); */
  /* grid-template-rows: repeat(4, 1fr); */
  gap: 1em;
  grid-template:
    "goal1 goal1 goal1 goal4"
    "goal3 center center goal4"
    "goal3 center center goal2"
    "goal5 goal5 goal5 goal2";
}

@media screen and (max-width: 780px) {
  #canvas-container {
    grid-template-columns: 0% 100%;
    /* max-height: 50vh; */
  }

  /* canvas {
    display: block;
    height: 90vw;
  } */

  .unsdg-container-new {
    display: block;
  }

  .grid-container {
    display: block;
  }

  .visible-large-screen-only {
    display: none;
  }
}

.unsdg-container-new li {
  font-size: medium;
}

.unsdg-container-item {
  margin: 1em 0 1em 0;
}

#goal1 {
  grid-area: goal1;
}

#goal2 {
  grid-area: goal2;
}

#goal3 {
  grid-area: goal3;
}

#goal4 {
  grid-area: goal4;
}

#goal5 {
  grid-area: goal5;
}

#goal-center {
  grid-area: center;
  display: grid;
}

#goal-center img {
  max-width: 60%;
  justify-self: center;
  align-self: center;
}

/* Test Bitcoin */
.hero {
  display: flex;
  height: 100%;
  align-items: center;
  color: white;
}

.hero-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px 60px 0;
}

#container-p5 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
}

.bre {
  height: 100%;
  width: 100%;
}

.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cyber-ethical-solutions-button {
  min-width: 20%;
  min-height: 60px;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  background: linear-gradient(90deg, rgb(180 0 245) 0%, rgb(138 6 224) 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgb(26 14 42 / 64%);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  color: rgb(216, 216, 216);
}

.cyber-ethical-solutions-button[disabled] {
  background: gray;
  cursor: not-allowed;
}

.cyber-ethical-solutions-button:not([disabled])::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(100% + 12px);
  min-height: calc(100% + 12px);
  border: 6px solid var(--highlight-color-two);
  box-shadow: 0 0 60px var(--highlight-color-two);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}

.cyber-ethical-solutions-button:hover,
.cyber-ethical-solutions-button:focus {
  color: #ffffff;
  font-weight: bolder;
  transform: translateY(-6px);
}

.cyber-ethical-solutions-button:hover::before,
.cyber-ethical-solutions-button:focus::before {
  opacity: 1;
}

.cyber-ethical-solutions-button:not([disabled])::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid var(--highlight-color-two);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 5s forwards infinite;
}

.cyber-ethical-solutions-button:hover::after,
.cyber-ethical-solutions-button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }

  20%, 100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.cyber-ethical-solutions-item.continued {
  animation: cybethics-continue 1.5s forwards;
}

@keyframes cybethics-continue {
  from {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 20px;
    border-radius: var(--spacing-l);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    border-radius: var(--spacing-l);
  }
}

@font-face {
  font-family: Solaris;
  src: url("assets/Solaris.otf") format("opentype");
}
