/* Style the header with a grey background and some padding */
html {
    height: 100%;
}

body {
    color: white;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Cairo";
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.13);
}

.header-item {
    display: flex;
    align-items: center;
}

.menu-item {
    padding: 15px;
    border-right: 1px solid;
    border-color: white;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s ease;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.50);
}

.logo {
    height: 5em;
    width: 5em;
}

.logo-title {
    font-size: 24px;
    margin: 10px;
}

.large-text {
    font-size: 40px;
}

.side-margin {
    margin: 0 10% 0 10%;
}

.full-margin {
    margin: 10%;
}

.grid-container {
    height: 150px;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 100px;
}

.item {
  background-color: rgba(0, 0, 0, 0.10);
  padding: 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.item:hover {
    background-color: rgba(15, 15, 15, 0.3);
}

.item i {
  margin-right: 20px;
}

.item h3 {
  margin-top: 10px;
}

.item p {
  margin-top: 5px;
}

.justify-center {
    justify-self: center;
}

.content-column-1 {
    grid-column: 1 2;
}

.animated-title {
    display: flex;
}

.remove {
    animation: cybethics 8s infinite 2s both;
}

h1, h2 {
    font-size: 300%;
}
  
@keyframes cybethics {
    0% {width: 1.25em;}
    11%, 33% {opacity: 1;}
    22% {width: 1px;}
    44%, 100% {width: 1.25em; opacity: 1;}
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }

    .header-right {
        float: none;
    }
}

/** Services Page Carousel */
.carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 300px; /* Adjust the height as needed */
}

.slide {
  flex: 0 0 100%;
  opacity: 1;
  transition: opacity 2.5s;
}

.slide.active {
  opacity: 1;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(4px);
  transition: filter 0.2s;
}

.slide.active img {
  filter: blur(0);
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: inherit;
  width: 200px;
  opacity: 0.5;
  color: #fff;
}

.slide h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.slide p {
  font-size: 16px;
}

@keyframes slideAnimation {
  0%, 20%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  25%, 45%, 75% {
    transform: translateX(-20%);
    filter: blur(2px);
  }
}

.carousel {
  animation: slideAnimation 10s infinite;
}

/** Process Container */

.process-container-new {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr 3fr 2fr;
    grid-template-rows: repeat(3, 120px);
    align-items: center;
}

.arrow-column {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-template-rows: 60px 60px;
}

.document {
    opacity: 0;
    grid-column: 1 / 3;
    animation: assigningDocument 3s ease-in-out 5s forwards;
}

.process-container {
    display: grid;
    grid-template-columns: 4fr 4fr auto 1fr;
    grid-template-rows: repeat(3, 60px);
    align-items: center;
}

.process-container-actor {
    display: grid;
    gap: 10px;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

.arrow {
    border: solid white;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 6px;
    width: 12px;
    height: 12px;
    animation: emergingArrow 1s ease-in-out backwards;
    animation-delay: 1s;
}

.arrow-line {
    position: relative;
    font-size: 4rem;
    top: -0.2rem;
    animation: emergingArrow 2s ease-in-out forwards;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}  

@keyframes emergingArrow {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes assigningDocument {
    from {
        opacity: 0;
        transform: translateX(-20%);
    }
    to {
        opacity: 1;
        transform: translateX(90%);
    }
}

.text-container {
  position: relative;
  height: 10vh;
}

.text1,
.text2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

.text1 {
  animation-name: fade-in-out;
  animation-delay: 0s;
}

.text2 {
  animation-name: fade-in-out;
  animation-delay: 5s; /* Adjust delay as needed */
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in-short-short-delay {
    animation: fade-in 1s normal 0.5s both;
}

@keyframes fade-in {
  from {
    transform: translateX(-3%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}
  